<div class="row">
  <div class="six columns">
    {% include tech/stack.html
       icon="tech_cd"
       heading="Continuous Delivery"
       stack=include.cd
    %}
  </div>
  <div class="six columns">
    {% include tech/stack.html
       icon="tech_infrastructure"
       heading="Infrastructure"
       stack=include.infrastructure
    %}
  </div>
</div>

<div class="row">
  <div class="six columns">
    {% include tech/stack.html
       icon="tech_backend"
       heading="Backend"
       stack=include.backend
    %}
  </div>
  <div class="six columns">
    {% include tech/stack.html
       icon="tech_frontend"
       heading="Frontend"
       stack=include.frontend
     %}
  </div>
</div>

<div class="row">
  <div class="six columns">
    {% include tech/stack.html
       icon="tech_testing"
       heading="Testing"
       stack=include.testing
    %}
  </div>
  <div class="six columns">
    {% include tech/stack.html
       icon="tech_data"
       heading="Data"
       stack=include.data
     %}
  </div>
</div>
