<div class="row">
  <div class="six columns">
    {% include tech/stack.html
       icon="icon_tech_cd.svg"
       heading="Continuous Delivery"
       stack=include.cd
    %}
  </div>
  <div class="six columns">
    {% include tech/stack.html
       icon="icon_tech_infrastructure.svg"
       heading="Infrastructure"
       stack=include.infrastructure
    %}
  </div>
</div>

<div class="row">
  <div class="six columns">
    {% include tech/stack.html
       icon="icon_tech_backend.svg"
       heading="Backend"
       stack=include.backend
    %}
  </div>
  <div class="six columns">
    {% include tech/stack.html
       icon="icon_tech_frontend.svg"
       heading="Frontend"
       stack=include.frontend
     %}
  </div>
</div>

<div class="row">
  <div class="six columns">
    {% include tech/stack.html
       icon="icon_tech_testing.svg"
       heading="Testing"
       stack=include.testing
    %}
  </div>
  <div class="six columns">
    {% include tech/stack.html
       icon="icon_tech_data.svg"
       heading="Data"
       stack=include.data
     %}
  </div>
</div>
