<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": "http://cdn.ampproject.org/article-metadata.html",
  "headline": "{{ page.title }}",
  "datePublished": "1907-05-05T12:02:41Z",
  "dateModified": "1907-05-05T12:02:41Z",
  "description": "{{ page.abstract }}",
  "author": {
    "@type": "Person",
    "name": "{{ page.author }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Craftship",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/images/logo.svg",
      "width": 100,
      "height": 100
    }
  }
}
</script>
