---
layout: default
is_post: true
---

<section class="row">
  {%
    include shared/page-heading.html
    icon="icon_coffee.svg"
    heading=page.title
    subheading=page.abstract
    icon_alt="Blog, time to grab a coffee."
  %}
</section>

<article class="content row">
  <div class="post-image">
    {%
      include shared/image.html
      image=page.hero_image
      alt=page.hero_image_alt
      layout="responsive"
      height="200"
      width="1170"
    %}
  </div>
  <div class="content">
    {{ content }}
  </div>
</article>
