<div class="home-hero">
  <div class="home-hero__heading">
    <h1>Industry Experienced Engineers</h2>
    <h2>Crafted Software. Shipped Responsibly.</h3>
  </div>

  <div class="home-hero__strapline">
    <p>Craftship is a team of social and experienced software engineers. We are engineers that simply love what we do. Working with you as a cross-functional team to craft software with amazing tech, customer experiences and whole heap of pragmatism.</p>
    <p>Every Craftship engineer already has a ton of experience in the industry, we absolutely love to talk tech. Why not come visit us for a game of ping pong or just help yourself to a fancy coffee or beer on tap (we love beer)!</p>
    <p><a href="mailto:hello@craftship.io" class="button">Say Hello</a></p>
  </div>
</div>
