<div class="home-hero">
  <div class="home-hero__heading">
    <h1 class="heading">Industry experienced engineers</h2>
    <h2 class="subheading">Crafted software. Shipped responsibly.</h3>
  </div>

  <div class="home-hero__strapline">
    <p>Craftship is a team of industry experienced engineers.  Every engineer has been referred by at least two members or has delivered projects together in the past.</p>
    <p>We can work as part of your cross-functional team or independently.  Whether it be an existing project or completely greenfield, we can help.</p>
    <p><a href="mailto:hello@craftship.io" class="button">Say Hello</a></p>
  </div>
</div>
