<ul class="icons">
  <li>
    {%
      include shared/image.html
      image="icon_ruler.svg"
      alt="Ruler Icon"
      layout="fixed"
      height="100"
      width="100"
    %}
  </li>
  <li>
    {%
      include shared/image.html
      image="icon_pizza.svg"
      alt="Pizza Icon"
      layout="fixed"
      height="100"
      width="100"
    %}
  </li>
  <li>
    {%
      include shared/image.html
      image="icon_pencil.svg"
      alt="Pencil Icon"
      layout="fixed"
      height="100"
      width="100"
    %}
  </li>
  <li>
    {%
      include shared/image.html
      image="icon_beer.svg"
      alt="Beer Icon"
      layout="fixed"
      height="100"
      width="100"
    %}
  </li>
  <li>
    {%
      include shared/image.html
      image="icon_coffee.svg"
      alt="Coffee Icon"
      layout="fixed"
      height="100"
      width="100"
    %}
  </li>
  <li>
    {%
      include shared/image.html
      image="icon_flask.svg"
      alt="Flask Icon"
      layout="fixed"
      height="100"
      width="100"
    %}
  </li>
</ul>
