<div class="row">
  <div class="six columns">
    {% include home/value.html
       icon="icon_portfolio.svg"
       heading="Experienced"
       text="Craftship engineers are experienced. We are polyglots across many languages and disciplines. We thrive on the complicated and applying our experience across many sectors."
    %}
  </div>
  <div class="six columns">
    {% include home/value.html
       icon="icon_agile.svg"
       heading="Agile"
       text="Craftship is serious about agile. We have a deep understanding and have delivered a plethora of projects using Kanban and SCRUM. We love eliminating waste to ship on time and within budget."
    %}
  </div>
</div>

<div class="row">
  <div class="six columns">
    {% include home/value.html
       icon="icon_transparent.svg"
       heading="Transparent"
       text="Craftship is transparent.  We work openly and honestly together as one team.  Whether it be ‘our place or yours’.  Our pricing model is simple and predictable, experienced engineers at £600 per day."
    %}
  </div>
  <div class="six columns">
    {% include home/value.html
       icon="icon_git.svg"
       heading="Open Source"
       text="Craftship loves open source.  We pragmatically pick the right tools for the job.  4 days each month are set aside for engineers to contribute back, after all we are getting a ton of stuff for free!"
     %}
  </div>
</div>
