<div class="row">
  <div class="six columns">
    {% include home/value.html
       icon="portfolio"
       heading="Experienced"
       text="Craftship engineers are experienced. We are polyglots across many languages and disciplines. We thrive on the complicated and applying our experience across many sectors."
    %}
  </div>
  <div class="six columns">
    {% include home/value.html
       icon="agile"
       heading="Agile"
       text="Craftship is serious about agile. We have a deep understanding and have delivered a plethora of projects using Kanban and SCRUM. We love eliminating waste to ship on time and within budget."
    %}
  </div>
</div>

<div class="row">
  <div class="six columns">
    {% include home/value.html
       icon="transparent"
       heading="Transparent"
       text="Craftship is transparent.  We work openly and honestly together as one team.  Whether it be ‘our place or yours’.  Our pricing model is simple and predictable."
    %}
  </div>
  <div class="six columns">
    {% include home/value.html
       icon="git"
       heading="Open Source"
       text="Craftship loves open source tech and embraces it.  Every engineer can pick a project to donate to on the Open Collective (afterall we are getting a ton of stuff for free)."
     %}
  </div>
</div>
