<div class="row">
  <div class="six columns">
    {% include home/value.html
       icon="icon_portfolio.svg"
       heading="Polyglots"
       text="Craftship has an ethos to always use the best tools for the job.  We pride ourselves using the latest tech where appropriate.  We are experienced polyglots across many languages and disciplines."
    %}
  </div>
  <div class="six columns">
    {% include home/value.html
       icon="icon_agile.svg"
       heading="Agile"
       text="Craftship has a deep understanding of delivering projects using Kanban and agile methodologies.  We love continously iterating the process to eliminate waste, ship on time and under budget."
    %}
  </div>
</div>

<div class="row">
  <div class="six columns">
    {% include home/value.html
       icon="icon_transparent.svg"
       heading="Transparent"
       text="Craftship prides being completely transparent working closely with clients on or off site. Our pricing model is simple, a single competitive day rate."
    %}
  </div>
  <div class="six columns">
    {% include home/value.html
       icon="icon_git.svg"
       heading="Open Source"
       text="Craftship uses and contributes to open source projects regularly.  We even build our own stuff to find out more check out our github organization for open source goodness."
     %}
  </div>
</div>
